<mat-table #table [dataSource]="dataSource">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let row"> <a routerLink="stock-item">{{row.name}}</a> </mat-cell>
  </ng-container>
  <!-- ID Column -->
  <ng-container matColumnDef="inStock">
    <mat-header-cell *matHeaderCellDef> In Stock </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.inStock}} </mat-cell>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef> Unit Price </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.price}} </mat-cell>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="totalPrice">
    <mat-header-cell *matHeaderCellDef> Total Price </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.price * row.inStock}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<table width="80%">
  <thead>
    <tr>
      <td style="font-weight: bold;">Name</td>
      <td style="font-weight: bold;">Quantity</td>
      <td style="font-weight: bold;">$$$</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stock of stocks">
      <td><a routerLink="stock-item">{{stock.name}}</a></td>
      <td>{{stock.inStock}}</td>
      <td>{{stock.price * stock.inStock}}</td>
    </tr>
  </tbody>
</table>
